<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Dashboard</title>
</head>
<body>

    <nav>
        <h1>Test App</h1>
        {% if user_level.user_level == 9000 %}
            <a href="/dashboard/admin">Dashboard</a>
        {% else %}
            <a href="/dashboard">Dashboard</a>
        {% endif %}
        <a href="/users/show/{{ request.session.user_id }}">Profile</a>
        <a href="/logout">Log off</a>
    </nav>

    <h2>All Users</h2>

    <table>
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Created At</th>
            <th>User Level</th>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td><a href="/users/show/{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</a></td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.created_at }}</td>
                    {% if user.user_level == 9000 %}
                        <td>admin</td>
                    {% else %}
                        <td>normal</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>